/*

 Typography is the way that text
 is arranged and presented

*/

body {
  padding: 10%;
  font-size: 1rem;
  font-family:'Times New Roman', Times, serif
}

p {
    /* text-decoration: line-through; */
    /* text-decoration: none; */
    /* text-transform: capitalize; */
    /* text-transform: lowercase; */
    /* text-transform: uppercase; */
    /* text-align: justify; */
    /* text-align: left; */
    /* text-align: right; */
    /* text-indent: 5rem;  leaves space at the start of the paragraph */
    line-height: 1.5;
    /* letter-spacing: 1em; */
    /* word-spacing: 2rem; */
    font-style: normal;


}

/* input, button {
  font-size: inherit;
} */
